<div class="content">
    
    <h1>Cadastro</h1>
    <div class="form">
        <div class="campo">
            <span><b>Nome:</b></span>
            <span><input type="text" name="nome" placeholder="Nome"  /></span>
        </div>
        <div class="campo">
            <span><b>RG:</b></span>
            <span><input type="text" name="rg" placeholder="RG"  /></span>
        </div>
        <div class="campo">
            <span><b>Email:</b></span>
            <span><input type="text" name="email" placeholder="E-mail"  /></span>
        </div>
        <div class="campo">
            <span><b>Telefone</b></span>
            <span><input type="text" name="telefone" placeholder="Telefone"  /></span>
        </div>
        <div class="campo">
            <button type="submit">Cadastrar Cliente</button>
        </div>        
    </div>
    
</div>